<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.phone_number %></h2>
<h3><%= @restaurant.address %></h3>
<%= @restaurant.description %>
<%= link_to "Modifier", edit_restaurant_path(@restaurant) %>
