<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.phone_number %></h2>
<h3><%= @restaurant.address %></h3>
<%= @restaurant.description %>
<%= link_to "Modifier", edit_restaurant_path(@restaurant) %>
<%= link_to "Ajouter aux favoris", restaurant_favorites_path(@restaurant), method: "POST" %>
<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Réserver</h2>

    <%= simple_form_for [@restaurant, @reservation], method: "post" do |f| %>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :guests_number %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
